.fixedTime {
    position: fixed;
    text-align: center;
    margin: 0;
    top: 0;
    right: 0;
    padding: 10px;
}

#highScoreLink {
    position: fixed;
    text-align: center;
    margin: 0;
    top: 0;
    left: 0;
    padding: 10px;
}


body {
    text-align: center;
}

button {
    background-color: purple;
    border: round solid white;
    border-radius: 12px;
    transition-duration: 0.4s;
    color: white;
    padding: 7px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    outline: none;
}

button:hover {
    background-color: plum;
    color: white;
  }